swagger: '2.0'
info:
  title: Bango Resale API
  description: >-
    Enable major merchants to launch subscription services through resellers
    worldwide
  version: 1.0.15
host: resale.api.bango.net
schemes:
  - https
securityDefinitions:
  basic:
    type: basic
    description: Basic authentication
security:
  - basic: []
basePath: /v1
produces:
  - application/json
paths:
  /echo/{echoRequestId}:
    post:
      summary: Service echo. Used to check Bango Resale API availability.
      operationId: echo
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: echoRequestId
          in: path
          description: Echo request identifier.
          required: true
          type: string
      tags:
        - Echo
      responses:
        '200':
          description: Echo request successful.
          schema:
            items:
              $ref: '#/definitions/EchoResponse'
          examples:
            responseCode: OK
            responseMessage: Success
            echo: a25100b8-4e0c-4e37-b921-cac9cb1e930f
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
  /entitlement/{entitlementId}:
    get:
      summary: Get entitlement
      description: |
        Get information about an entitlement.
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlementId
          in: path
          description: Unique identifier used on activation.
          required: true
          type: string
          format: uuid
      tags:
        - Get entitlement
      responses:
        '200':
          description: Entitlement data
          schema:
            $ref: '#/definitions/EntitlementGetResponse'
          examples:
            responseCode: 'OK'
            responseMessage: 'Success'
            entitlementId: 'a25100b8-4e0c-4e37-b921-cac9cb1e930f'
            activationCode: ''
            customerIdentifier: '+4407123456789'
            productKey: '30_DA'
            entitlementDisplayName: '30 days of Bango music'
            offerKey: 'BUNDLE'
            merchantAccountKey: 'BANGO'
            status: 'ACTIVE'
            dateCreated: '2017-01-28T14:15:03Z'
            dateActivated: '2017-01-28T14:30:05Z'
            dateExpiry: 'null'
            dateEnded: 'null'
            dateLastUpdated: '2017-01-28T14:30:05Z'
            dateSuspended: 'null'
            dateResumed: 'null'
            extraInformation: {
        clientDevice: {
                  type: "STB",
                  id: "bc449c9e-406f-4399-a3ff-8671a27ac410",
                  typeId: "P49AJFND8NFN23NANGAJG",
                  modelName: "STB Model X7",
                 modelNumber: "IAH45IAOF/5",
                  serialNumber: "JHFJHA43JNFA9393GFD",
                  osType: "Linux",
                  osVersion: "10.3.8",
                  macAddress: "4A-0F-99-F2-D3-DD",
                  browser: "Firefox"}
            }
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '404':
          description: Entitlement not found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_FOUND
            responseMessage: Entitlement not found
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
  /entitlement:
    post:
      summary: Create a new entitlement
      operationId: create
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlement
          in: body
          description: The entitlement JSON you want to create
          schema:
            $ref: '#/definitions/EntitlementCreate'
          required: true
      tags:
        - Create entitlement
      responses:
        '200':
          description: Entitlement created successfully.
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: "OK"
            responseMessage: "Success"
            parameters: { }
            entitlementId: "a25100b8-4e0c-4e37-b921-cac9cb1e930f"
            activationCode: ""
            customerIdentifier: "+4407123456789"
            productKey: "30_DAYS_MUSIC"
            entitlementDisplayName: "30 days of Bango music"
            offerKey: "BUNDLE"
            merchantAccountKey: "BANGO"
            status: "ACTIVE"
            dateCreated: "2017-01-28T14:15:03Z"
            dateActivated: "2017-01-28T14:30:05Z"
            dateExpiry: "null"
            dateEnded: "null"
            dateLastUpdated: "2017-01-28T14:30:05Z"
            dateSuspended: 'null'
            dateResumed: 'null'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '202':
          description: An action is required to be performed by the client
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: "CLIENT_ACTION_REQUIRED"
            responseMessage: "An action is required in the client"
            parameters: {
              action: "NAVIGATE_TO_URL",
              url: "https://www.example.com/entitlementId=a25100b8-4e0c-4e37-b921-cac9cb1e930f"
            }
            entitlementId: "a25100b8-4e0c-4e37-b921-cac9cb1e930f"
            activationCode: ""
            customerIdentifier: "+4407123456789"
            productKey: "30_DAYS_MUSIC"
            entitlementDisplayName: "30 days of Bango music"
            offerKey: "BUNDLE"
            merchantAccountKey: "BANGO"
            status: "PENDING"
            dateCreated: "2017-01-28T14:15:03Z"
            dateActivated: "null"
            dateExpiry: "null"
            dateEnded: "null"
            dateLastUpdated: "2017-01-28T14:15:03Z"
            dateSuspended: 'null'
            dateResumed: 'null'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '403':
          description: No active entitlement routes available for this request where found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_AVAILABLE
            responseMessage: No active entitlement routes available for this request where found
        '409':
          description: Already exists
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: ALREADY_EXISTS
            responseMessage: EntitlementId already exists.
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
    patch:
      summary: Update an existing entitlement
      description:
        Update an entitlement. This operation cannot be performed on entitlements that are in SUSPENDED status.
      operationId: update
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlement
          in: body
          description: The entitlement JSON you want to update
          schema:
            $ref: '#/definitions/EntitlementUpdate'
          required: true
      tags:
        - Update entitlement
      responses:
        '200':
          description: Entitlement updated successfully.
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: "OK"
            responseMessage: "Success"
            parameters: {}
            entitlementId: "a25100b8-4e0c-4e37-b921-cac9cb1e930f"
            activationCode: ""
            customerIdentifier: "+4407123456789"
            productKey: "30_DAYS_MUSIC"
            entitlementDisplayName: "30 days of Bango music"
            offerKey: "BUNDLE"
            merchantAccountKey: "BANGO"
            status: "ACTIVE"
            dateCreated: "2017-01-28T14:15:03Z"
            dateActivated: "2017-01-28T14:30:05Z"
            dateExpiry: "null"
            dateEnded: "null"
            dateLastUpdated: "2017-01-28T14:30:05Z"
            dateSuspended: 'null'
            dateResumed: 'null'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '202':
          description: An action is required to be performed by the client
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: 'CLIENT_ACTION_REQUIRED'
            responseMessage: 'An action is required in the client'
            parameters: {
              action: 'NAVIGATE_TO_URL',
              url: 'https://www.example.com/entitlementId=a25100b8-4e0c-4e37-b921-cac9cb1e930f'
            }
            entitlementId: 'a25100b8-4e0c-4e37-b921-cac9cb1e930f'
            activationCode: ''
            customerIdentifier: '+4407123456789'
            productKey: '30_DAYS_MUSIC'
            entitlementDisplayName: '30 days of Bango music'
            offerKey: 'BUNDLE'
            merchantAccountKey: 'BANGO'
            status: 'PENDING'
            dateCreated: '2017-01-28T14:15:03Z'
            dateActivated: '2017-01-28T14:30:05Z'
            dateExpiry: 'null'
            dateEnded: 'null'
            dateLastUpdated: '2017-01-28T14:30:05Z'
            dateSuspended: 'null'
            dateResumed: 'null'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '403':
          description: No active entitlement routes available for this request where found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_AVAILABLE
            responseMessage: No active entitlement routes available for this request where found
        '404':
          description: Entitlement not found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_FOUND
            responseMessage: Entitlement not found
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
  /entitlement/cancel/{entitlementId}:
    post:
      summary: Cancel an entitlement
      description: |
        Cancel an entitlement
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlementId
          in: path
          description: Unique identifier used on activation.
          required: true
          type: string
          format: uuid
        - name: entitlementCancelBody
          in: body
          description: The entitlement cancel JSON.
          schema:
            $ref: '#/definitions/EntitlementCancel'
          required: false
      tags:
        - Cancel entitlement
      responses:
        '200':
          description: Entitlement cancelled successfully
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: 'OK'
            responseMessage: 'Success'
            parameters: { }
            entitlementId: 'a25100b8-4e0c-4e37-b921-cac9cb1e930f'
            activationCode: ''
            customerIdentifier: '+4407123456789'
            productKey: '30_DAYS_MUSIC'
            entitlementDisplayName: '30 days of Bango music'
            offerKey: 'BUNDLE'
            merchantAccountKey: 'BANGO'
            status: 'CANCELLED'
            dateCreated: '2017-01-28T14:15:03Z'
            dateActivated: '2017-01-28T14:30:05Z'
            dateExpiry: 'null'
            dateEnded: '2017-02-15T09:30:05Z'
            dateLastUpdated: '2017-02-15T09:30:05Z'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '403':
          description: No active entitlement routes available for this request where found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_AVAILABLE
            responseMessage: No active entitlement routes available for this request where found
        '404':
          description: Entitlement not found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_FOUND
            responseMessage: Entitlement not found
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
  /entitlement/revoke/{entitlementId}:
    post:
      summary: Revoke an entitlement
      description: |
        Revoke an entitlement
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlementId
          in: path
          description: Unique identifier used on activation.
          required: true
          type: string
          format: uuid
        - name: entitlementRevokeBody
          in: body
          description: The entitlement revoke JSON.
          schema:
            $ref: '#/definitions/EntitlementRevoke'
          required: false
      tags:
        - Revoke entitlement
      responses:
        '200':
          description: Entitlement revoked successfully
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: 'OK'
            responseMessage: 'Success'
            parameters: { }
            entitlementId: 'a25100b8-4e0c-4e37-b921-cac9cb1e930f'
            activationCode: ''
            customerIdentifier: '+4407123456789'
            productKey: '30_DAYS_MUSIC'
            entitlementDisplayName: '30 days of Bango music'
            offerKey: 'BUNDLE'
            merchantAccountKey: 'BANGO'
            status: 'REVOKED'
            dateCreated: '2017-01-28T14:15:03Z'
            dateActivated: '2017-01-28T14:30:05Z'
            dateExpiry: 'null'
            dateEnded: '2017-02-15T09:30:05Z'
            dateLastUpdated: '2017-02-15T09:30:05Z'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '403':
          description: No active entitlement routes available for this request where found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_AVAILABLE
            responseMessage: No active entitlement routes available for this request where found
        '404':
          description: Entitlement not found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_FOUND
            responseMessage: Entitlement not found
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
  /entitlement/suspend/{entitlementId}:
    post:
      summary: Suspend an entitlement
      description: |
        Suspend an entitlement. This operation can only be performed on entitlements that are in ACTIVE status.
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlementId
          in: path
          description: Unique identifier used on activation.
          required: true
          type: string
          format: uuid
      tags:
        - Suspend entitlement
      responses:
        '200':
          description: Entitlement suspended successfully
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: 'OK'
            responseMessage: 'Success'
            parameters: { }
            entitlementId: 'a25100b8-4e0c-4e37-b921-cac9cb1e930f'
            activationCode: ''
            customerIdentifier: '+4407123456789'
            productKey: '30_DAYS_MUSIC'
            entitlementDisplayName: '30 days of Bango music'
            offerKey: 'BUNDLE'
            merchantAccountKey: 'BANGO'
            status: 'SUSPENDED'
            dateCreated: '2017-01-28T14:15:03Z'
            dateActivated: '2017-01-28T14:30:05Z'
            dateExpiry: 'null'
            dateEnded: '2017-02-15T09:30:05Z'
            dateLastUpdated: '2017-02-15T09:30:05Z'
            dateSuspended: '2019-03-15T09:30:05Z'
            dateResumed: 'null'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '403':
          description: No active entitlement routes available for this request where found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_AVAILABLE
            responseMessage: No active entitlement routes available for this request where found
        '404':
          description: Entitlement not found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_FOUND
            responseMessage: Entitlement not found
        '409':
          description: Operation invalid for the current state of the entitlement.
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INVALID_STATE
            responseMessage: Operation invalid for the current state of the entitlement.
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
  /entitlement/resume/{entitlementId}:
    post:
      summary: Resume an entitlement
      description: |
        Resume an entitlement. This operation can only be performed on entitlements that are in SUSPENDED status
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlementId
          in: path
          description: Unique identifier used on activation.
          required: true
          type: string
          format: uuid
      tags:
        - Resume entitlement
      responses:
        '200':
          description: Entitlement resumed successfully
          schema:
            $ref: '#/definitions/EntitlementResponse'
          examples:
            responseCode: 'OK'
            responseMessage: 'Success'
            parameters: { }
            entitlementId: 'a25100b8-4e0c-4e37-b921-cac9cb1e930f'
            activationCode: ''
            customerIdentifier: '+4407123456789'
            productKey: '30_DAYS_MUSIC'
            entitlementDisplayName: '30 days of Bango music'
            offerKey: 'BUNDLE'
            merchantAccountKey: 'BANGO'
            status: 'Active'
            dateCreated: '2017-01-28T14:15:03Z'
            dateActivated: '2017-01-28T14:30:05Z'
            dateExpiry: 'null'
            dateEnded: '2017-02-15T09:30:05Z'
            dateLastUpdated: '2017-02-15T09:30:05Z'
            dateSuspended: 'null'
            dateResumed: 'null'
            extensionData: {
              price: "9.99",
              currencyIso3: "GBP",
              channelType: "WEB_PROMOTION",
              channelSource: "https://bango.com/promo",
              campaignKey: "SUMMER_PROMO",
              referrer: "SEARCH_ENGINE",
              additionalCustomData1: "additionalCustomDataValue1",
              additionalCustomData2: "additionalCustomDataValue2",
              additionalCustomData3: "additionalCustomDataValue3"
            }
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '403':
          description: No active entitlement routes available for this request where found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_AVAILABLE
            responseMessage: No active entitlement routes available for this request where found
        '404':
          description: Entitlement not found
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: NOT_FOUND
            responseMessage: Entitlement not found
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later
  /entitlement/report:
    post:
      summary: Get a list of entitlements for a customerIdentifier, matching specific criteria
      description: |
        Get a list of entitlements for a customerIdentifier, matching specific criteria
      parameters:
        - name: X-RequestIdentifier
          in: header
          description: Request unique identifier. If present, this id will be used for idempotency.
          type: string
        - name: entitlementReportBody
          in: body
          description: The report filters JSON.
          schema:
            $ref: '#/definitions/EntitlementReport'
          required: true
      tags:
        - Entitlement report
      responses:
        '200':
          description: Entitlement cancelled successfully
          schema:
            $ref: '#/definitions/EntitlementReportResponse'
          examples:
            responseCode: 'OK'
            responseMessage: 'Success'
            entitlements: 
              - entitlementId: 'a25100b8-4e0c-4e37-b921-cac9cb1e930f'
                activationCode: ''
                customerIdentifier: '+4407123456789'
                productKey: '30_DAYS_MUSIC'
                entitlementDisplayName: '30 days of Bango music'
                offerKey: 'BUNDLE'
                merchantAccountKey: 'BANGO'
                status: 'CANCELLED'
                dateCreated: '2017-01-28T14:15:03Z'
                dateActivated: '2017-01-28T14:30:05Z'
                dateExpiry: 'null'
                dateEnded: '2017-02-15T09:30:05Z'
                dateLastUpdated: '2017-02-15T09:30:05Z'
                dateSuspended: 'null'
                dateResumed: 'null'
                extensionData: {
                  price: "9.99",
                  currencyIso3: "GBP",
                  channelType: "WEB_PROMOTION",
                  channelSource: "https://bango.com/promo",
                  campaignKey: "SUMMER_PROMO",
                  referrer: "SEARCH_ENGINE",
                  additionalCustomData1: "additionalCustomDataValue1",
                  additionalCustomData2: "additionalCustomDataValue2",
                  additionalCustomData3: "additionalCustomDataValue3"
                } 
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
        '429':
          description: Too many requests
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request
        '503':
          description: Service unavailable
          schema:
            $ref: '#/definitions/ResponseObject'
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: >-
              The server is undergoing maintenance and is not available. Please,
              try again later

  /reseller/{resellerIdentifier}/products:
    get:
      summary: Get eligible products for this reseller's customer
      description: Get eligible products for this reseller's customer
      parameters:
      - name: Authorization
        in: header
        description: Basic Authentication 
        required: true
        type: string
      - name: X-RequestIdentifier
        in: header
        description: Request unique identifier. If present, this id will be used for idempotency
        required: false
        type: string
      - name: X-CustomerIdentifier
        in: header
        description: Customer unique identifier for the reseller
        required: false
        type: string
      - name: resellerIdentifier
        in: path
        description: Reseller unique identifier
        required: true
        type: string
      tags:
        - GET Products
      responses:
        200:
          description: Success
          examples:
            responseCode: OK
            responseMessage: Success
            eligibleProducts:
              one:
                productIdentifier: prod-BM-Free-id-1
                productRank: 0
                productStatus: NONE
                productName: BANGO_MUSIC_FREE
                productDescription: Probably the coolest music in the world
                productLogoURL: https://bangomusic.xyz/small-logo.jpg
                productTermsURL: https://bangomusic.xyz/free-terms.html
                productPrice: £0.00
                productOfferType: BUNDLE
                productActivationUrl: https://bangomusic.xyz/activate
              two:
                productIdentifier: prod-BM-Paid-id-2
                productRank: 0
                productStatus: SELECTED
                productName: BANGO_MUSIC_PAID
                productDescription: Definitely the coolest music in the world
                productLogoURL: https://bangomusic.xyz/smaell-logo.jpg
                productTermsURL: https://bangomusic.xyz/paid-terms.html
                productPrice: £5.00 per month
                productOfferType: ADD-ON
                productActivationUrl: https://bangomusic.xyz/activate
          schema:
            $ref: '#/definitions/GetEligibleProductsResponse'
        400:
          description: Bad request
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
          schema:
            $ref: '#/definitions/ProductResponseObject'
        401:
          description: Unauthorized
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
          schema:
            $ref: '#/definitions/ProductResponseObject'
        404:
          description: Customer not found
          examples:
            responseCode: NOT_FOUND
            responseMessage: Customer not found
          schema:
            $ref: '#/definitions/ProductResponseObject'
        429:
          description: Too many requests
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
          schema:
            $ref: '#/definitions/ProductResponseObject'
        500:
          description: Unexpected error
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: The server encountered an unexpected condition which prevented it from fulfilling the request
          schema:
            $ref: '#/definitions/ProductResponseObject'
        502:
          description: Unexpected error
          examples:
            responseCode: ERROR
            responseMessage: The server received an invalid response from the upstream server
          schema:
            $ref: '#/definitions/ProductResponseObject'
        503:
          description: Service unavailable
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: The server is undergoing maintenance and is not available. Please, try again later.
          schema:
            $ref: '#/definitions/ProductResponseObject'
    post:
      summary: Select eligible product for this reseller's customer
      description: Select eligible product for this reseller's customer
      parameters:
      - name: Authorization
        in: header
        description: Basic Authentication 
        required: true
        type: string
      - name: X-RequestIdentifier
        in: header
        description: Request unique identifier. If present, this id will be used for idempotency
        required: false
        type: string
      - name: X-CustomerIdentifier
        in: header
        description: Customer unique identifier for the reseller
        required: false
        type: string
      - name: resellerIdentifier
        in: path
        description: Reseller unique identifier
        required: true
        type: string
      - in: body
        name: selectedProductInfo
        description: Customer selected product information
        required: false
        schema:
          $ref: '#/definitions/ProductInfo'
      tags:
        - Select Product
      
      responses:
        200:
          description: Success
          examples:
            responseCode: OK
            responseMessage: Success
            productActivationURL:
            - https://bangomusic.xyz/activation/874f423f25dc
          schema:
            $ref: '#/definitions/SelectEligibleProductResponse'
        400:
          description: Bad request
          examples:
            responseCode: BAD_REQUEST
            responseMessage: Invalid request
          schema:
            $ref: '#/definitions/ProductResponseObject'
        401:
          description: Unauthorized
          examples:
            responseCode: UNAUTHORIZED
            responseMessage: Invalid access credential.
          schema:
            $ref: '#/definitions/ProductResponseObject'
        404:
          description: Customer not found
          examples:
            responseCode: NOT_FOUND
            responseMessage: Customer not found
          schema:
            $ref: '#/definitions/ProductResponseObject'
        429:
          description: Too many requests
          examples:
            responseCode: TOO_MANY_REQUESTS
            responseMessage: Request limit reached. Please try again later
          schema:
            $ref: '#/definitions/ProductResponseObject'
        500:
          description: Unexpected error
          examples:
            responseCode: INTERNAL_ERROR
            responseMessage: The server encountered an unexpected condition which prevented it from fulfilling the request
          schema:
            $ref: '#/definitions/ProductResponseObject'
        502:
          description: Unexpected error
          examples:
            responseCode: ERROR
            responseMessage: The server received an invalid response from the upstream server
          schema:
            $ref: '#/definitions/ProductResponseObject'
        503:
          description: Service unavailable
          examples:
            responseCode: SERVICE_UNAVAILABLE
            responseMessage: The server is undergoing maintenance and is not available. Please, try again later.
          schema:
            $ref: '#/definitions/ProductResponseObject'

definitions:
  EntitlementCreate:
    type: object
    required:
      - customerIdentifier
      - productKey
      - merchantAccountKey
      - notificationUrl
    properties:
      entitlementId:
        type: string
        description: Unique identifier representing a specific entitlement.
        example: "a25100b8-4e0c-4e37-b921-cac9cb1e930f"
      activationCode:
        type: string
        description: Code or token use for the entitlement activation (optional).
        example: null
      customerIdentifier:
        type: string
        description: User unique identifier.
        example: "+4407123456789"
      productKey:
        type: string
        description: 'Entitlement product unique identifier. For example, "30_DAYS_MUSIC".'
        example: "30_DAYS_MUSIC"
      entitlementDisplayName:
        type: string
        description: >-
          Entitlement display name. For example, "30 days Bango music"
          (optional).
        example: "30 days of Bango music"
      offerKey:
        type: string
        description: 'Entitlement offer. For example, "BUNDLE" (optional).'
        example: "BUNDLE"
      merchantAccountKey:
        type: string
        description: 'Merchant unique identifier. For example, "BANGO".'
        example: "BANGO"
      dateExpiry:
        type: string
        format: date
        description: >-
          Entitlement expiry date in UTC ISO 8601 format. Null if no expiry
          (yyyy-MM-ddThh:mm:ssZ)
        example: null
      notificationUrl:
        type: string
        format: url
        description: >-
          The endpoint where all POST notifications will be sent after 
          subscription creation. The body of the POST request will contain the
          entitlement information in EntitlementGetResponse format.
        example: "https://www.example.com/notification/a25100b8-4e0c-4e37-b921-cac9cb1e930f"
      extensionData:
        type: object
        additionalProperties:
          type: string
          description: >-
            Accepts a dynamic list of key-value pairs to cover custom data needs
            (optional). We recommend sending the following values:
              - "price": the price charged to the user in each billing cycle
              - "currencyIso3": the currency code from the ISO 4217 currency code list
              - "channelType": channel used for the sale. Recommended values are:
                - "WEB_PROMOTION": website promotion
                - "POINT_OF_SALE": physical store sale
                - "SMS_PROMOTION": SMS promotion
                - "EMAIL_PROMOTION": Email promotion
              - "channelSource": Sale origin. For example, in case of WEB_PROMOTION, which website
              - "campaignKey": Marketing campaign identifier. For example, "SUMMER_PROMO"
              - "referrer": Sale referrer. For example, "SEARCH_ENGINE", "CUSTOMER_RECOMMENDATION" or "SOCIAL_MEDIA"
        example:
          price: "9.99"
          currencyIso3: "GBP"
          channelType: "WEB_PROMOTION"
          channelSource: "https://bango.com/promo"
          campaignKey: "SUMMER_PROMO"
          referrer: "SEARCH_ENGINE"
          additionalCustomData1: "additionalCustomDataValue1"
          additionalCustomData2: "additionalCustomDataValue2"
          additionalCustomData3: "additionalCustomDataValue3"
      extraInformation:
        $ref: '#/definitions/ExtraEntitlementInfo'
  EntitlementUpdate:
    type: object
    required:
      - entitlementId
    properties:
      entitlementId:
        type: string
        description: Unique identifier representing a specific entitlement.
        example: "a25100b8-4e0c-4e37-b921-cac9cb1e930f"
      activationCode:
        type: string
        description: Code or token use for the entitlement activation (optional).
        example: null
      customerIdentifier:
        type: string
        description: User unique identifier.
        example: "+4407123456789"
      productKey:
        type: string
        description: 'Entitlement product unique identifier. For example, "30_DAYS_MUSIC".'
        example: "30_DAYS_MUSIC"
      entitlementDisplayName:
        type: string
        description: >-
          Entitlement display name. For example, "30 days Bango music"
          (optional).
        example: "30 days of Bango music"
      offerKey:
        type: string
        description: 'Entitlement offer. For example, "BUNDLE" (optional).'
        example: "BUNDLE"
      dateExpiry:
        type: string
        format: date
        description: >-
          Entitlement expiry date in UTC ISO 8601 format. Null if no expiry
          (yyyy-MM-ddThh:mm:ssZ)
        example: null
      notificationUrl:
        type: string
        format: url
        description: >-
          The endpoint where all POST notifications will be sent after 
          subscription creation. The body of the POST request will contain the
          entitlement information in EntitlementGetResponse format.
        example: "https://www.example.com/notification/a25100b8-4e0c-4e37-b921-cac9cb1e930f"
      extensionData:
        type: object
        additionalProperties:
          type: string
          description: >-
            Accepts a dynamic list of key-value pairs to cover custom data needs
            (optional). We recommend sending the following values:
              - "price": the price charged to the user in each billing cycle
              - "currencyIso3": the currency code from the ISO 4217 currency code list
              - "channelType": channel used for the sale. Recommended values are:
                - "WEB_PROMOTION": website promotion
                - "POINT_OF_SALE": physical store sale
                - "SMS_PROMOTION": SMS promotion
                - "EMAIL_PROMOTION": Email promotion
              - "channelSource": Sale origin. For example, in case of WEB_PROMOTION, which website
              - "campaignKey": Marketing campaign identifier. For example, "SUMMER_PROMO"
              - "referrer": Sale referrer. For example, "SEARCH_ENGINE", "CUSTOMER_RECOMMENDATION" or "SOCIAL_MEDIA"
        example:
          price: "9.99"
          currencyIso3: "GBP"
          channelType: "WEB_PROMOTION"
          channelSource: "https://bango.com/promo"
          campaignKey: "SUMMER_PROMO"
          referrer: "SEARCH_ENGINE"
          additionalCustomData1: "additionalCustomDataValue1"
          additionalCustomData2: "additionalCustomDataValue2"
          additionalCustomData3: "additionalCustomDataValue3"
      extraInformation:
        $ref: '#/definitions/ExtraEntitlementInfo'
  EntitlementResponse:
    type: object
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
      parameters:
        type: object
        additionalProperties:
          type: string
      entitlementId:
        type: string
        description: Unique identifier representing a specific entitlement.
      activationCode:
        type: string
        description: Code or token use for the entitlement activation.
      customerIdentifier:
        type: string
        description: User unique identifier.
      productKey:
        type: string
        description: 'Entitlement  product unique identifier. For example, "30_DAYS_MUSIC".'
      entitlementDisplayName:
        type: string
        description: 'Entitlement display name. For example, "30 days Bango music".'
      offerKey:
        type: string
        description: 'Entitlement offer. For example, "BUNDLE".'
      merchantAccountKey:
        type: string
        description: 'Merchant unique identifier. For example, "BANGO".'
      status:
        type: string
        description: >-
          Entitlement status. Possible values are:
            - "ACTIVE": The entitlement has been successfully activated
            - "CANCELLED": The entitlement has been cancelled.
            - "REVOKED": The entitlement has been revoked. This usually happens on fraud and user contract termination cases.
            - "SUSPENDED": The entitlement has been suspended.
            - "PENDING": The entitlement has been initiated, but the user has not yet finalized the activation process.
            - "EXPIRED": The time window for the user to finalize the activation process has expired.
            - "FAILED": The entitlement failed
            - "ACTIVATION_FAILED": The entitlement activation failed
            - "ACTIVATION_EXPIRED": The entitlement activation expired
            - "ACTIVATION_ALREADY_SUBSCRIBED": The user is already subscribed to the entitlement product and the merchant rejected the entitlement activation
            - "ACTIVATION_REJECTED": The product provider rejected the activation for an unspecified reason
      dateCreated:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was created, in UTC ISO 8601 format
          (yyyy-MM-ddThh:mm:ssZ)
      dateActivated:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was activated, in UTC ISO 8601
          format (yyyy-MM-ddThh:mm:ssZ)
      dateExpiry:
        type: string
        format: date
        description: >-
          Entitlement expiry date in UTC ISO 8601 format. Null if no expiry
          (yyyy-MM-ddThh:mm:ssZ)
      dateEnded:
        type: string
        format: date
        description: >-
          Date and time when the entitlement ended due to cancellation or
          revoke, in UTC ISO 8601 format (yyyy-MM-ddThh:mm:ssZ)
      dateLastUpdated:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was last modified, in UTC ISO 8601
          format (yyyy-MM-ddThh:mm:ssZ)
      dateSuspended:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was suspended, in UTC ISO 8601.
          format (yyyy-MM-ddThh:mm:ssZ)
      dateResumed:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was resumed, in UTC ISO 8601.
          format (yyyy-MM-ddThh:mm:ssZ)
      extensionData:
        type: object
        description: Accepts a dynamic list of key-value pairs to cover custom data needs
        additionalProperties:
          type: string
      extraInformation:
        $ref: '#/definitions/ExtraEntitlementInfo'
  EntitlementGetResponse:
    type: object
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
      entitlementId:
        type: string
        description: Unique identifier representing a specific entitlement.
      activationCode:
        type: string
        description: Code or token use for the entitlement activation.
      customerIdentifier:
        type: string
        description: User unique identifier.
      productKey:
        type: string
        description: 'Entitlement  product unique identifier. For example, "30_DAYS_MUSIC".'
      entitlementDisplayName:
        type: string
        description: 'Entitlement display name. For example, "30 days Bango music".'
      offerKey:
        type: string
        description: 'Entitlement offer. For example, "BUNDLE".'
      merchantAccountKey:
        type: string
        description: 'Merchant unique identifier. For example, "BANGO".'
      status:
        type: string
        description: >-
          Entitlement status. Possible values are:
            - "ACTIVE": The entitlement has been successfully activated
            - "CANCELLED": The entitlement has been cancelled.
            - "REVOKED": The entitlement has been revoked. This usually happens on fraud and user contract termination cases
            - "PENDING": The entitlement has been initiated, but the user has not yet finalized the activation process
            - "EXPIRED": The time window for the user to finalize the activation process has expired
            - "FAILED": The entitlement failed
            - "ACTIVATION_FAILED": The entitlement activation failed
            - "ACTIVATION_EXPIRED": The entitlement activation expired
            - "ACTIVATION_ALREADY_SUBSCRIBED": The user is already subscribed to the entitlement product and the merchant rejected the entitlement activation
            - "ACTIVATION_REJECTED": The product provider rejected the activation for an unspecified reason
      dateCreated:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was created, in UTC ISO 8601 format
          (yyyy-MM-ddThh:mm:ssZ)
      dateActivated:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was activated, in UTC ISO 8601
          format (yyyy-MM-ddThh:mm:ssZ)
      dateExpiry:
        type: string
        format: date
        description: >-
          Entitlement expiry date in UTC ISO 8601 format. Null if no expiry
          (yyyy-MM-ddThh:mm:ssZ)
      dateEnded:
        type: string
        format: date
        description: >-
          Date and time when the entitlement ended due to cancellation or
          revoke, in UTC ISO 8601 format (yyyy-MM-ddThh:mm:ssZ)
      dateLastUpdated:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was last modified, in UTC ISO 8601
          format (yyyy-MM-ddThh:mm:ssZ)
      dateSuspended:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was suspended, in UTC ISO 8601.
          format (yyyy-MM-ddThh:mm:ssZ)
      dateResumed:
        type: string
        format: date
        description: >-
          Date and time when the entitlement was resumed, in UTC ISO 8601.
          format (yyyy-MM-ddThh:mm:ssZ)
      extensionData:
        type: object
        additionalProperties:
          type: string
          description: Accepts a dynamic list of key-value pairs to cover custom data needs
      extraInformation:
        $ref: '#/definitions/ExtraEntitlementInfo'
  ResponseObject:
    type: object
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
  EchoResponse:
    type: object
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
      echo:
        type: string
  EntitlementCancel:
    type: object
    description: "Accepts a dynamic list of key-value pairs to cover custom data needs. These will be added to the entitlement extensionData"
    properties:
      cancelReasonCategory:
        type: string
        description: >-
          Code representing the entitlement cancel reason. This code can be any value, but we recommend you use one of the following codes:
            - "CUSTOMER_CANCELLED"
            - "CUSTOMER_CHANGED"
        example: "CUSTOMER_CANCELLED"
      cancelReasonCode:
        type: string
        description: >-
          Code representing the entitlement cancel reason. This code can be any value, but we recommend you use one of the following codes:
            - "NOT_RENEWED": The customer has not renewed the subscription
            - "CUSTOMER_CANCELLED": The customer cancelled the subscription
            - "PRODUCT_NO_LONGER_AVAILABLE": The reseller or merchant stopped offering this product
            - "OTHER": Other
        example: "NOT_RENEWED"
      cancelReasonDescription:
        type: string
        description: Description of the entitlement cancel reason.
        example: "The user did not renew their monthly contract"
      additionalCustomDataValue1:
        type: string
        description: Custom data value. You can pass any key/value pair with extra information in this request
        example: "Custom data value 1"
      additionalCustomDataValue2:
        type: string
        description: Custom data value. You can pass any key/value pair with extra information in this request
        example: "Custom data value 2"
      additionalCustomDataValue3:
        type: string
        description: Custom data value. You can pass any key/value pair with extra information in this request
        example: "Custom data value 3"
  EntitlementRevoke:
    type: object
    description: "Accepts a dynamic list of key-value pairs to cover custom data needs. These will be added to the entitlement extensionData"
    properties:
      revokeReasonCategory:
        type: string
        description:  >-
          Code representing the entitlement revoke reason. This code can be any value, but we recommend you use one of the following codes:
            - "ACTIVATION_ROLLBACK"
            - "REVOKED"
        example: "ACTIVATION_ROLLBACK"
      revokeReasonCode:
        type: string
        description:  >-
          Code representing the entitlement revoke reason. This code can be any value, but we recommend you use one of the following codes:
            - "FRAUD": The user has not renewed the subscription
            - "ACCOUNT_TERMINATED": The user is no longer a customer
            - "SECURITY": For security reasons, access to this entitlement has been terminated
            - "OTHER": Other
        example: "FRAUD"
      revokeReasonDescription:
        type: string
        description: Description of the entitlement revoke reason
        example: "Personal data stolen"
      additionalCustomDataValue1:
        type: string
        description: Custom data value. You can pass any key/value pair with extra information in this request
        example: "Custom data value 1"
      additionalCustomDataValue2:
        type: string
        description: Custom data value. You can pass any key/value pair with extra information in this request
        example: "Custom data value 2"
      additionalCustomDataValue3:
        type: string
        description: Custom data value. You can pass any key/value pair with extra information in this request
        example: "Custom data value 3"
  EntitlementReport:
    type: object
    description: "List of filters applied to retrieve a list of existing entitlements"
    required:
      - customerIdentifier
    properties:
      customerIdentifier:
        type: string
        description: User unique identifier.
        example: "+4407123456789"
      productKey:
        type: string
        description: 'Entitlement product unique identifier. For example, "30_DAYS_MUSIC".'
        example: "30_DAYS_MUSIC"
      status:
        type: string
        description: >-
          Entitlement status. Possible values are:
            - "ACTIVE": The entitlement has been successfully activated
            - "CANCELLED": The entitlement has been cancelled.
            - "REVOKED": The entitlement has been revoked. This usually happens on fraud and user contract termination cases
            - "PENDING": The entitlement has been initiated, but the user has not yet finalized the activation process
            - "EXPIRED": The time window for the user to finalize the activation process has expired
            - "FAILED": The entitlement failed
            - "ACTIVATION_FAILED": The entitlement activation failed
            - "ACTIVATION_EXPIRED": The entitlement activation expired
            - "ACTIVATION_ALREADY_SUBSCRIBED": The user is already subscribed to the entitlement product and the merchant rejected the entitlement activation
            - "ACTIVATION_REJECTED": The product provider rejected the activation for an unspecified reason
        example: "ACTIVE"
  EntitlementReportResponse:
    type: array
    items:
      type: object
      properties:
        responseCode:
          type: string
        responseMessage:
          type: string
        entitlementId:
          type: string
          description: Unique identifier representing a specific entitlement.
        activationCode:
          type: string
          description: Code or token use for the entitlement activation.
        customerIdentifier:
          type: string
          description: User unique identifier.
        productKey:
          type: string
          description: 'Entitlement  product unique identifier. For example, "30_DAYS_MUSIC".'
        entitlementDisplayName:
          type: string
          description: 'Entitlement display name. For example, "30 days Bango music".'
        offerKey:
          type: string
          description: 'Entitlement offer. For example, "BUNDLE".'
        merchantAccountKey:
          type: string
          description: 'Merchant unique identifier. For example, "BANGO".'
        status:
          type: string
          description: >-
            Entitlement status. Possible values are:
              - "ACTIVE": The entitlement has been successfully activated
              - "CANCELLED": The entitlement has been cancelled.
              - "REVOKED": The entitlement has been revoked. This usually happens on fraud and user contract termination cases
              - "PENDING": The entitlement has been initiated, but the user has not yet finalized the activation process
              - "EXPIRED": The time window for the user to finalize the activation process has expired
              - "FAILED": The entitlement failed
              - "ACTIVATION_FAILED": The entitlement activation failed
              - "ACTIVATION_EXPIRED": The entitlement activation expired
              - "ACTIVATION_ALREADY_SUBSCRIBED": The entitlement activation was already used and is no longer valid
              - "ACTIVATION_REJECTED": The product provider rejected the activation for an unspecified reason
        dateCreated:
          type: string
          format: date
          description: >-
            Date and time when the entitlement was created, in UTC ISO 8601 format
            (yyyy-MM-ddThh:mm:ssZ)
        dateActivated:
          type: string
          format: date
          description: >-
            Date and time when the entitlement was activated, in UTC ISO 8601
            format (yyyy-MM-ddThh:mm:ssZ)
        dateExpiry:
          type: string
          format: date
          description: >-
            Entitlement expiry date in UTC ISO 8601 format. Null if no expiry
            (yyyy-MM-ddThh:mm:ssZ)
        dateEnded:
          type: string
          format: date
          description: >-
            Date and time when the entitlement ended due to cancellation or
            revoke, in UTC ISO 8601 format (yyyy-MM-ddThh:mm:ssZ)
        dateLastUpdated:
          type: string
          format: date
          description: >-
            Date and time when the entitlement was last modified, in UTC ISO 8601
            format (yyyy-MM-ddThh:mm:ssZ)
        dateSuspended:
          type: string
          format: date
          description: >-
            Date and time when the entitlement was suspended, in UTC ISO 8601.
            format (yyyy-MM-ddThh:mm:ssZ)
        dateResumed:
          type: string
          format: date
          description: >-
            Date and time when the entitlement was resumed, in UTC ISO 8601.
            format (yyyy-MM-ddThh:mm:ssZ)
        extensionData:
          type: object
          additionalProperties:
            type: string
            description: Accepts a dynamic list of key-value pairs to cover custom data needs
        extraInformation:
          $ref: '#/definitions/ExtraEntitlementInfo'
  ClientDevice:
    type: object
    additionalProperties:
      type: string
      description: >-
        When the clientDevice object is present the type is a mandatory key. The clientDevice object will only be returned if data has been provided.
          - "type": the type of the device. For example, "STB", "MOBILE", "DESKTOP", "TABLET"
          - "id": the unique identifier for the users device
          - "typeId": the common identifier for the type of device
          - "modelName": the device model name
          - "modelNumber": the device model number
          - "serialNumber": the serial number of the device
          - "osType": the OS type of the device
          - "osVersion": the OS version of the device
          - "macAddress": the mac address of the device
          - "browser": the browser being used
    example:
      type: "STB"
      id: "bc449c9e-406f-4399-a3ff-8671a27ac410"
      typeId: "P49AJFND8NFN23NANGAJG"
      modelName: "STB Model X7"
      modelNumber: "IAH45IAOF/5"
      serialNumber: "JHFJHA43JNFA9393GFD"
      osType: "Linux"
      osVersion: "10.3.8"
      macAddress: "4A-0F-99-F2-D3-DD"
      browser: "Firefox"
  ExtraEntitlementInfo:
    type: object
    
    properties:
      clientDevice:
        $ref: '#/definitions/ClientDevice'
  SampleExtraInfo:
    type: object
    additionalProperties: true
    description: Sample information that can be provided by the Reseller.
    example:
      {
        "Number": 10,
        "Street": "Street No.1",
        "City": "CityName",
        "Country": "CountryName"
      }
      
  ProductInfo:
    type: object
    properties:
      productIdentifier:
        type: string
        description: Assigned productIdentifier reference
      productRank:
        type: integer
        description: Reseller preferred rank of this offer (0 is highest) (optional)
      productStatus:
        type: string
        description: Status of the product with reseller. (optional) Supported values are ACTIVE, SELECTED, NONE)
      productName:
        type: string
        description: Display name for this productIdentifier (optional)
      productDescription:
        type: string
        description: Display description for this productIdentifier (optional)
      productLogoURL:
        type: string
        description: URL to display logo for this productIdentifier (optional)
      productTermsURL:
        type: string
        description: URL to display Terms and Conditions for this productIdentifier (optional)
      productPrice:
        type: string
        description: Display price as a string for this productIdentifier (optional)
      productOfferType:
        type: string
        description: Display type of reseller offer for this productIdentifier (optional)
      productActivationUrl:
        type: string
        description: Activation Url provided by the merchant for customer sign-up (optional)
  
  GetEligibleProductsResponse:
    type: object
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
      eligibleProducts:
        type: array
        description: Array of eligible products for this customer
        items:
          $ref: '#/definitions/ProductInfo'
  
  SelectEligibleProductResponse:
    type: object
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
      productActivationURL:
        type: string
        description: Product activation URL for this customer
  
  ProductResponseObject:
    type: object
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
        
parameters:
  X-RequestIdentifier:
    name: X-RequestIdentifier
    in: header
    description: Request unique identifier. If present, this id will be used for idempotency
    required: false
    type: string
  X-CustomerIdentifier:
    name: X-CustomerIdentifier
    in: header
    description: Customer unique identifier for the reseller
    required: true
    type: string
  resellerIdentifier:
    name: resellerIdentifier
    in: path
    description: Reseller unique identifier
    required: true
    type: string
  merchantKey:
    name: merchantKey
    in: query
    description: Merchant unique identifier
    required: false
    type: string
  selectedProductInfo:
    in: body
    name: selectedProductInfo
    description: Customer selected product information
    required: false
    schema:
      $ref: '#/definitions/ProductInfo'      
        
        